<title>Fishing season {{ selected_season }}</title>
<h1>Here you can edit your fishing season {{ selected_season }}!</h1>

<h2>Add fishing day here:</h2>
<form action="/create_fishing_day" method="POST" onsubmit="return check_day_input(this)">
<p>Enter month:</br>
<input type="text" name="month">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="hidden" name="selected_season" value="{{ selected_season }}">
<p>Enter day:</br>
<input type="text" name="day"></br>
<input type="submit", name="Add days", value="Add day">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<p style="color:rgb(250, 42, 5);"><b>{{ create_new_day_error_message}}</b></p>
<p style="color:rgb(17, 5, 250);"><b>{{ create_new_day_message}}</b></p>
</form>

<h2>Edit fishing day here:</h2>

<p>Here you can select fishing day and add results:</p>
<form action="/edit_day_view" method="POST" onsubmit="return check_radio()">
<p>Select day:
{% for day in day_result %}
<br><input type = "radio", name = "edit_fishing_day", value = "{{ day.date_created }}", id="{{ loop.index }}"> {{ day.date_created }}
<input type="hidden" name="day_id" value="{{ day.day_id }}">
{% endfor %}
<br>
<input type="submit", name="Edit day", value = "Edit day">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<br>
<h2>Explore fishing day with this button:</h2>
<input type="submit", name="edit_day", value = "Explore catched fish and weather", formaction="/explore_fish">

<h2>Delete fishing day with this button:</h2>
<input type="submit", name="edit_day", value = "Delete selected day", formaction="/delete_day">

</form>

<script>
    function check_day_input(form) {
        if (form.month.value > 12 || form.day.value < 1) {
            alert("Enter valid month, eg. 7");
            return false;
        }
        if (form.day.value > 31 || form.day.value < 1) {
            alert('Enter valid season, eg. 2023');
            return false;
        }
    return true;
    }
</script>


<script>
    function check_radio() {
        var radioButton = document.getElementsByName("edit_fishing_day");
        var selectedRadio = null;
        for (var i = 0; i < radioButton.length; i++) {
            if (radioButton[i].checked) {
                selectedRadio = radioButton[i];
                break;
            }
        }
        if (selectedRadio != null) {
            return true
        }
        else {
            alert("Please select a day!")
            return false
        }
    }
</script>



<form action="/main_view" method="POST">
<input type="submit" name="main_view" value="Back to main view">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
    
<form action="/logout" method="GET">
<input type="submit" name="logout" value="Log out!"> 
</form>
