<title>Fishing day {{ session.date }}</title>
<h1>Here you can see your catches during {{ session.date }}</h1>

<h2>All catched fish:</h2>

<b>Total number of catched fish: {{ total_fish }}</b> <br><br>

{% for fish in all_fish %}
<b>Fish type:</b> {{ fish.fish_type }} <b>Length:</b> {{ fish.fish_length }} <b>Weight:</b> {{ fish.fish_weight }}
<br>
{% endfor %}

<h2>Biggest fish:</h2>

{% for fish in biggest_fish %}
<b>Fish type:</b> {{ fish.fish_type }} <b>Length:</b> {{ fish.fish_length }} <b>Weight:</b> {{ fish.fish_weight }}
<br>
{% endfor %}
<br>

<h2>Total number of catched fish:</h2>

{% for fish in how_many_fish %}
<b>Fish type:</b> {{ fish.fish_type }} <b>Total number of catched fish:</b> {{ fish.num_fish }}
<br>
{% endfor %}

<h2>Average fish weights:</h2>

{% for fish in average_fish %}
<b>Fish type:</b> {{ fish.fish_type }} <b>Average weight:</b> {{ fish.avg_weight|round(1) }}
<br>
{% endfor %}

<h2>Weather:</h2>

{% for item in weather %}
<b>Temperature:</b> {{ item.temperature }} <br>
<b>Wind type (direction and speed (m/s)):</b> {{ item.wind_type }} <br>
<b>Air pressure:</b> {{ item.pressure }} <br>
<b>Visibility:</b> {{ item.lightning }}<br>
<br>
{% endfor %}


<br>
<form action="/edit_season_view" method="POST">
<input type="submit" name="main_view" value="Back to edit season view"> 
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<form action="/main_view" method="POST">
<input type="submit" name="main_view" value="Back to main view"> 
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<form action="/logout" method="GET">
<input type="submit" name="logout" value="Log out!"> 
</form>
